{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"-->
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <title>Israel politicians</title>
  </head>
  <body>
    <!--div class="container"-->
      <!--div class="row justify-content-center"-->
        <div class="col-8">
          <button id="btnJSON" class="btn" style="float: right;">Display json</button>
          <h1 class="mt-2">Israel politicians</h1>
          <hr class="mt-0 mb-4">
          {% block content %}
          {% endblock %}
        </div>
      <!--/div-->
    <!--/div-->
  </body>
</html>